:root{
  --color1: #181bc9;
  --color2: #1b3e76;
  --color3: #fff;
  --color4: #000;
  --color5: #7274F2;
  --color6: #BF0067;
  --color7: #cccc
}

body{
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}

html{
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-container{
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
  background-color: var(--color2);
  color: var(--color3);
}

.sidebar-header{
  padding: 20px;
  border-bottom: 1px solid var(--color5);
}

.sidebar-header h2{
  font-size: 1.8rem;
}

.room-list{
  margin-top: 30px;
}

.room-item{
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 1.5s;
  border-bottom-right-radius: 20px;
}

.room-item:hover{
  background-color: var(--color5);
  border-radius: 25px;
}

.room-item:active{
  background-color: var(--color5);
}

.room-item span{
  margin-left: 20px;
}

.room-item img{
  background-color: var(--color3);
  margin-right: 10px;
  border-radius: 5px;
}

/* Estilos do CHAT */

.main-chat{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/background.png);
  background-size: contain;
}

.chat-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-bottom: 1px solid var(--color4);
  background-color: var(--color6);
}

.chat-header h2{
  display: inline;
  justify-content: center;
  align-items: center;
  color: var(--color3);
  font-size: 2.5rem;
}

.message-container{
  height: 10px;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.message-input{
  padding: 20px;
  display: flex;
  gap: 16px;
  background-color: var(--color2);
  border-top: 1px solid var(--color2);
}

.message-input input{
  font-weight: 500;
  font-size: 16px;
  flex-grow: 1;
  padding: 20px;
  border: 2px solid var(--color2);
  border-radius: 20px;
}

.message-input button{
  padding: 16px 28px;
  background-color: var(--color7);
  border-radius: 20px;
  cursor: pointer;
}

.message-input button:hover{
  background-color: var(--color5);
  transition: 1.2s;
}

.message{
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.container-message{
  margin-top: 20px;
  background-color: var(--color5);
  border-radius: 10px;
  color: var(--color3);
  border-top-right-radius: 50px;
}

.container-message img{
  width: 60px;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
}
.container-message h4{
  color: var(--color2);
  margin: 10px;

}
.container-message p{
  font-size: 20px;
  margin: 10px 5px;
  padding: 6px;
}

i{
  color: var(--color3);
  font-size: 50px;
}