:root{
    --color1: #181bc9;
    --color2: #1b3e76;
    --color3: #fff;
    --color4: #000;
    --color5: #7274F2;
    --color6: #BF0067;
    --color7: #cccc
  }
  
  body{
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
  }

  .card img{
    width: 100%;
  }
  
  #cabecalho img{
    width: 50px;
    margin: 20px;
    border-radius: 10%;

  }
  html{
    overflow-x: hidden;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h2{
    background-color: var(--color2);
    color: var(--color3);
    text-align: center;
    font-size: 30px;
  }

  p{
    text-align: center;
  }
  #cabecalho{
    height: 100px;
    background-color: var(--color2);
    color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 70px;
    width: 100%;
    height: 100%;
  }

  .card{
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: var(--color3);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color5);
  }

  .container button{
    width: 80%;
    margin: 20px;
    background-color: var(--color5);
    color: var(--color3);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  i{
    color: var(--color3);
    font-size: 50px;
    margin: 30px;
  }
