
:root{
  --color1: #181bc9;
  --color2: #1b3e76;
  --color3: #fff;
  --color4: #000;
  --color5: #7274F2;
  --color6: #BF0067;
}

body{
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}

html{
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  color: var(--color6);
}

/* TELA DE LOGIN */

.container-login{
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  height: 400px;
  margin: 200px auto;
  color: var(--color3);
  text-align: center;
  background-color: var(--color1);
}

.container-login img{
  width: 30%;
  border-radius: 50px;
}

label{
  display: flex;
}

button{
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
